.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  font-family: Starjedi;

  .favorites {
    padding: 1rem;
    cursor: pointer;
    span {
      padding-right: 1rem;
      &:hover {
        text-decoration: underline;
        color: #ffe300;
      }
    }
  }
}

span {
  cursor: pointer;
}

.toolbar img {
  margin: 0 16px;
}
