<div class="toolbar" role="banner">
    <div>
        <img width="80" alt="Star Wars Logo" src="assets/images/logos/star-wars-logo.svg" />
        <span (click)="navigateToHome()" translate="lbl-may-the-force-be-with-you"></span>
    </div>
    <div class="favorites">
        <span (click)="navigateToFavorites()" translate="lbl-favorites-characters"></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="#fff">
            <path
                d="M12 6.76l1.379 4.246h4.465l-3.612 2.625 1.379 4.246-3.611-2.625-3.612 2.625 1.379-4.246-3.612-2.625h4.465l1.38-4.246zm0-6.472l-2.833 8.718h-9.167l7.416 5.389-2.833 8.718 7.417-5.388 7.416 5.388-2.833-8.718 7.417-5.389h-9.167l-2.833-8.718z" />
        </svg>
    </div>
</div>